.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row-reverse;
    margin: 0;
}

.footer-link li {
    display: block;
    padding-right: 20px;
    font-size: 0.75em;
    font-family: sans-serif;
}

.footer-sticky {
    padding: 0.3em;
    background-color: #444444;
    text-align: center;
    font-size: 17px;
    color: white;
    border-top: 1px solid #e7e7e7;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Montserrat", "Roboto";
}
