.opening-times-form-day-col {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.opening-times-form-time-col {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    width: auto;
}