.custom-btn-color {
    background-color: #327ec1;
    border-color: #327ec1;
    color:white;
}

.custom-btn-color:hover {
    background-color: #266999;
    border-color: #266999;
    color:white;
}